/* CONTAINER */
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Hanken Grotesk", sans-serif;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* COMPONENT LEFT */
.component-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: hsl(221, 100%, 96%);
  border-radius: 20px;
  text-align: center;
  padding: 33px 50px;
}

.component-left .result {
  color: hsl(241, 100%, 89%);
  font-size: 20px;
  margin-bottom: 30px;
}

.component-left .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.component-left .circle .big {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

.component-left .small {
  font-size: 16px;
  color: hsl(241, 100%, 89%);
  margin-top: 10px;
  margin-bottom: 20px;
}

.component-left .great {
  margin-top: 34px;
  margin-bottom: 5px;
}

/* COMPONENT RIGHT */
.component-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.component-right h2 {
  font-size: 20px;
  align-self: flex-start;
}

.component-right .skills {
  display: flex;
  flex-direction: column;
}

.component-right .skills .skill {
  display: flex;
  align-items: center;
  gap: 5px;
}

.component-right .skills .degree {
  align-self: flex-end;
}

.component-right .skills .numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.component-right .skills .numbers .bold {
  font-weight: 700;
}

.component-right .skills .numbers .light {
  font-weight: 700;
  color: hsla(224, 30%, 27%, 0.3);
}

.component-right .skill-degree .numbers p {
  font-size: 16px;
}

.component-right .skills .skill-degree {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.component-right .skill-degree.red {
  background-color: hsla(0, 100%, 67%, 0.1);
  border-radius: 10px;
  padding: 0 5px;
}

.component-right .skill-degree.yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
  border-radius: 10px;
  padding: 0 5px;
  margin-top: 10px;
}

.component-right .skill-degree.teal {
  background-color: hsla(166, 100%, 37%, 0.1);
  border-radius: 10px;
  padding: 0 5px;
  margin-top: 10px;
}

.component-right .skill-degree.blue {
  background-color: hsla(234, 85%, 45%, 0.1);
  border-radius: 10px;
  padding: 0 5px;
  margin-top: 10px;
}

.component-right button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 70px;
  border: none;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  cursor: pointer;
}

.component-right button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

.component-right .skills .reaction {
  color: hsl(0, 100%, 67%);
}

.component-right .skills .memory {
  color: hsl(39, 100%, 56%);
}

.component-right .skills .verbal {
  color: hsl(166, 100%, 37%);
}

.component-right .skills .visual {
  color: hsl(234, 85%, 45%);
}

/* Responsive */

@media screen and (max-width: 375px) {
  .container {
    box-shadow: none;
    border-radius: 0;
  }

  .component-left .result {
    color: hsl(241, 100%, 89%);
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .component-left .circle {
    width: 130px;
    height: 130px;
  }

  .component-left .great {
    margin-top: 10px;
  }

  .component-left .small {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .component-right {
    width: 100%;
  }

  .component-right h2 {
    font-size: 18px;
    align-self: center;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    position: static;
    left: auto;
    top: auto;
    -webkit-transform: none;
    transform: none;
    overflow-x: hidden;
    box-shadow: none;
    border-radius: 0;
  }

  .component-left {
    width: 100%;
    padding-left: 58px;
    padding-right: 58px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  .component-right {
    width: 100%;
  }

  .component-right h2 {
    align-self: center;
  }

  .component-right .skills {
    width: 75%;
  }
}
